@import "tailwindcss";

body {
	background-color: black;
	color: white;
}

.nav_links {
	@apply cursor-pointer font-semibold text-gray-400 hover:text-white transition duration-700;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-slide {
	animation: slide 20s linear infinite;
}
